
/* Контейнеры ошибок */

 .img-upload__item {
  margin-bottom: 20px;
}

.img-upload__error {
  color: #ff0000;
  text-transform: none;
  text-align: center;
  margin-top: 5px;
}

.text__hashtags {
  margin-bottom: 0;
}

.img-upload__overlay--error {
  text-align: center;
  font-size: 1.5rem;
}
